<nav class="navbar navbar-expand-sm navbar-light">
  <button class="btn btn-secondary mr-1 sidebar-toggle" type="button" (click)="toggleSidebar($event)" aria-expanded="true">
    <i class="fa fa-align-left"></i>
  </button>
  <button class="navbar-toggler btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-align-right"></i>  </button>
  <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavId">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" />
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Action 1</a>
          <a class="dropdown-item" href="#">Action 2</a>
        </div>
      </li>
    </ul>

  </div>
</nav>